@model HalloDocDAL.Model.Req;

<div class="row justify-content-center mb-5 pb-5">
    <div class="row m-4 col-xl-6 col-md-8 col-11">
        <p class="col fs-4 fw-bold pb-0 mb-0 d-inline">Submit Information</p>
        <div class="col mb-0 text-end">
            <button class="float-end my-4 btn btn-outline-info backBtn" onclick="window.location.reload()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                     height="16" fill="currentColor" class="bi bi-chevron-left fw-medium mb-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>Back
            </button>
        </div>
    </div>

    <div class="m-4 shadow col-xl-6 col-md-8 col-11">
        <form class="p-4" method="post" id="createRequestForm">
            <!-- Patient Information -->
            <p class="fs-5 fw-bold">Patient</p>

            <div class="row g-2">
                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating requiredcr">
                        <input type="text" class="form-control" id="Firstname" placeholder="First Name" name="firstName">
                        <label for="Firstname" class="floating-label">First Name</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>
                </div>

                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating requiredcr">
                        <input type="text" class="form-control" id="Lastname" placeholder="Last Name" name="lastName">
                        <label for="Lastname" class="floating-label">Last Name</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>

                </div>

                <div class="col-md-6 col-12 mb-3 z-3">
                    <div class="form-floating required">
                        <input type="tel" class="form-control p-3 ps-5" id="Mobile" placeholder="(201) 555-0123" name="phone">
                        <span style="color:red; display:none">Required!</span>
                    </div>

                </div>

                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating requiredcr">
                        <input class="form-control" id="Email" placeholder="Email" name="email">
                        <label for="Email" class="floating-label">Email</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>

                </div>

                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating requiredcr">
                        <input type="date" class="form-control" id="dob" name="dob">
                        <label for="dob" class="floating-label">Date Of Birth</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>

                </div>
            </div>

            <!-- Patient Location -->
            <p class="fs-5 fw-bold pt-3">Location</p>
            <div class="row g-2">
                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating requiredcr">
                        <input type="text" class="form-control" id="Street" placeholder="Street" name="street">
                        <label for="Street" class="floating-label">Street</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>

                </div>
                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating requiredcr">
                        <input type="text" class="form-control" id="City" placeholder="City" name="city">
                        <label for="City" class="floating-label">City</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating requiredcr">
                        <input type="text" class="form-control" id="State" placeholder="State" name="state">
                        <label for="State" class="floating-label">State</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>

                </div>
                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Zipcode" placeholder="Zip Code" name="zipcode">
                        <label for="Zipcode" class="floating-label">Zip Code (Optional)</label>
                    </div>
                    <span id="Zipcode" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="roomNumber" placeholder="Room# / Suite (Optional)" name="room">
                        <label for="roomNumber" class="floating-label">Room # (Optional)</label>
                    </div>

                </div>
            </div>

            <div class="mb-3 form-floating">
                <textarea class="form-control" placeholder="Admin Notes (Optional)" id="notes" name="symptoms" style="height: 100px"></textarea>
                <label for="notes" class="floating-label"> Admin Notes (Optional) </label>

            </div>

            <!-- submit -->
            <div class="text-end">
                <button type="submit" class="btn btn-info text-light">Save</button>
                <button type="button" class="btn btn-outline-info" onclick="LoadDashboard()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(".requiredcr").change(function () {
        var div = $(this);
        if ($(div).find('input').val() != "") {
            var span = $(div).children('span');
            span.hide();
        }
    })
    $('#createRequestForm').on('submit', function (e) {
        e.preventDefault();
        var data = new FormData(this);
        var validate = true;
        $('.requiredcr').each(function () {
            var div = $(this);
            var span = $(div).children('span');
            span.hide();
            if ($(div).find('input').val() == "") {
                Swal.fire({
                    title: "Information required",
                    text: "Please enter all the details",
                    icon: "error"

                });

                span.show();
                validate = false;
            }
        })
        if (validate) {
            $.ajax({
                url: '@Url.Action("SaveRequest","AdminDashboard")',
                type: "Post",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.success) {
                        Swal.fire({
                            title: "Good job!",
                            text: "Request created succesfully",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        }).finally(() => {
                            $("#divdiv").load('@Url.Action("CreateRequest", "AdminDashboard")');
                        });

                    }
                }
            });
        }

    });

    const phoneInputField = document.querySelectorAll("input[type='tel']");
    for (var i = 0; i < phoneInputField.length; i++) {
        const phoneInput = window.intlTelInput(phoneInputField[i], {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        })
    };
</script>
