@{
    Layout = "_adminDash";
}
@{
    ViewData["Title"] = "Provider Location";
}
<section class="h-100">
    <div class="d-flex flex-column align-items-center h-75 px-2">
        <div class="req_form_container w-75 back_div mt-3 d-flex justify-content-between mb-3">
            <div class="d-flex align-items-center">
                <h3 class="m-0">Provider Location</h3>
            </div>
            <div>
                <a asp-controller="AdminDashboard" asp-action="AdminDashboard" class="back_btn d-flex align-items-center p-2 px-4 fw-semibold"
                   role="button">
                    <p class="m-0"><i class="fa-solid fa-chevron-left"></i> Back</p>
                </a>
            </div>
        </div>
        <div class="p-4 w-75 h-100 req_form_container shadow-lg rounded-2">
            <div id="map" class="w-100" style="height:600px">
            </div>
        </div>
    </div>

</section>
<script>
    var dash = document.getElementById("dashboard-tab");
    var providerLoc = document.getElementById("providerlocation-tab");
    var profile = document.getElementById("myprofile-tab");
    var provider = document.getElementById("providers-tab");
    var partner = document.getElementById("partners-tab");
    var access = document.getElementById("access-tab");
    var records = document.getElementById("records-tab");

    dash.classList.remove("active");
    providerLoc.classList.add("active");
    profile.classList.remove("active");
    provider.classList.remove("active");
    partner.classList.remove("active");
    access.classList.remove("active");
    records.classList.remove("active");


    var map = L.map('map').setView([21, 78], 5);

    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
        minZoom: 3,
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
        noWrap: true,
    });

    // googleStreets = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //     maxZoom: 19,
    //     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    // });

    var Jawg_Dark = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.{ext}', {
        minZoom: 3,
        maxZoom: 20,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png',
        noWrap: true
    });

    var southWest = L.latLng(-89.98155760646617, -180),
        northEast = L.latLng(89.99346179538875, 180);
    var bounds = L.latLngBounds(southWest, northEast);

    map.setMaxBounds(bounds);
    map.on('drag', function () {
        map.panInsideBounds(bounds, { animate: false });
    });

    $(".btn-toggle").click(function () {
        if (localStorage.getItem('theme') != 'dark') {
            Jawg_Dark.addTo(map);
            googleStreets.removeFrom(map);

        }
        else {
            Jawg_Dark.removeFrom(map);
            googleStreets.addTo(map);
        }
    })
    
    if (localStorage.getItem('theme') == 'dark') {
        Jawg_Dark.addTo(map);

    }
    else {
        googleStreets.addTo(map);
    }

    var Icon = L.icon({
        iconUrl: '/images/label-1.svg',
        iconSize: [40, 40], // size of the icon

    });

    fetch('/AdminDashboard/GetProviders')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Convert JSON data to GeoJSON format
            var geoJson = {
                type: "FeatureCollection",
                features: data.map(provider => ({

                    type: "Feature",
                    geometry: {
                        type: "Point",
                        coordinates: [provider.Longitude, provider.Latitude]
                    },
                    properties: {
                        name: provider.Physicianname
                    }
                }))
            };

            // Add GeoJSON to Leaflet map
            L.geoJSON(geoJson, {
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng, { icon: Icon }).addTo(map);
                },
                onEachFeature: function (feature, layer) {
                    if (feature.properties && feature.properties.name) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            }).addTo(map);
        });

</script>