@model HalloDoc.Views.Home.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_none";
}
<script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<div class="container-fluid">
    <button class="position-absolute top-0 end-0 m-3 p-2 rounded btn btn-outline-info btn-toggle">
        <i class="bi bi-moon"></i>
    </button>
    <div class="row no-gutters justify-content-center">
        <div class="col-md-8 col-12 col-lg-5 p-5 d-flex flex-column align-items-center justify-content-center min-vh-100 rightcol">
            <div class="bg"></div>
            <img src="~/images/hallodoc.png" class="img-fluid" />
            <div class="pt-5">
                <a href="" class="text-info text-decoration-none fw-semibold">
                    <i class="bi bi-chevron-left"></i>
                    Back
                </a>
                <p class="fs-1 pb-3 fw-semibold">Reset Password</p>
            </div>
            <div class="form-style">

                <div class="form-group pb-3 form-floating">
                    <input type="text" placeholder="Email" class="form-control" id="email" name="email"
                           aria-describedby="emailHelp">
                    <label for="exampleInputEmail1" class="floating-label">Email</label>
                </div>
                <div class="pb-2">
                    <button id="reset" type="button" class="btn btn-info w-100 font-weight-bold mt-2">
                        Reset
                        Password
                    </button>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <div><a class="redirect-to" data-page="PatientLogin" data-controller="Login">>Back to Login</a></div>
                </div>
                <div class="d-flex justify-content-center align-content-center">
                    <a href="#">Terms & conditions </a> |
                    <a href="#">Privacy Policy</a>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#reset').click(function () {
            var email = $('#email').val();
            $.ajax({
                url: '@Url.Action("CheckEmailExists","SubmitRequest")',
                type: 'POST',
                data: { email: email },
                success: function (emailExists) {
                    if (emailExists) {
                        $.ajax({
                            url: '@Url.Action("SendResetEmail","Login")',
                            type: 'POST',
                            data: { toEmail: email },
                            success: function (result) {
                                if (result.success) {
                                    Swal.fire({
                                        title: "Email sent!",
                                        text: "Request created succesfully",
                                        icon: "success"
                                    }).finally(() => {
                                        window.location.href = result.redirectUrl;
                                    });

                                }
                                else {
                                    alert(result.message);
                                }
                            },
                            error: function () {
                                alert('An error occured');
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Error",
                            text: "Email not registered",
                            icon: "error"
                        })
                    }
                },
                error: function () {
                    alert("An error occured while checking the email")
                }
            });

        });
    });
</script>