@model HalloDocDAL.Model.Register
@{
    Layout = "_none";
}
<div class="container-fluid d-flex p-0">
    <script src="https://use.fontawesome.com/f59bcd8580.js"></script>
    <div class="container-fluid">
        <button class="position-absolute top-0 end-0 m-3 p-2 rounded btn btn-outline-info btn-toggle">
            <i class="bi bi-moon"></i>
        </button>
        <div class="row no-gutters justify-content-center">
            <div class="col-md-8 col-12 col-lg-6 p-5 d-flex flex-column align-items-center justify-content-center min-vh-100 rightcol">
                <div class="bg"></div>
                <img src="/images/hallodoc.png" class="img-fluid" />
                <div class="pt-5">
                    <a class="text-info text-decoration-none fw-semibold  redirect-to" data-page="Index" data-controller="Home">
                        <i class="bi bi-chevron-left"></i>
                        Back
                    </a>
                    <p class="fs-2 pb-3 fw-semibold">Reset your password</p>
                </div>
                <div class="form-style">
                    <div class="form-group pb-3 form-floating d-flex d-inline">
                        <input type="password" placeholder="Email" class="form-control" id="password"
                               aria-describedby="emailHelp" name="Username" asp-for=Email>
                        <span asp-validation-for="Email"></span>
                        <span class="photo">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </span>
                        <label for="password" class="floating-label">Password</label>
                    </div>
                    <div class="form-group pb-3 form-floating d-flex d-inline">
                        <input type="password" placeholder=" " class="form-control"
                               id="ConfirmPassword" name="Confirmpassword">
                        <span class="photo" onclick="pass()">
                            <i class="bi bi-eye" aria-hidden="true" id="eye"></i>
                        </span>
                        <label for="ConfirmPassword" class="floating-label">Confirm Password</label>
                    </div>
                    <div class="pb-2">
                        <button id="btnlogin" class="btn btn-info w-100 font-weight-bold mt-2">Submit</button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div><a class="redirect-to" data-page="PatientCreate" data-controller="Login">Create New Account</a></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div><a class="redirect-to" data-page="ForgotPassword" data-controller="Login">Forgot Password?</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnlogin').click(function () {
            let params = new URLSearchParams(location.search);
            var token = params.get('token');

            var data = {
                password: $('#password').val(),
                confirmpassword: $('#ConfirmPassword').val(),
                token: token
            };
            if ($('#password').val() == "") {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Password cannot be empty"
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("ResetPass","Login")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                title: "Good job!",
                                text: "You can now log in",
                                icon: "success"
                            }).finally(() => {
                                window.location.href = result.redirectUrl;
                            });
                        }
                        else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: result.message
                            });
                        }
                    }
                })
            }
        })
    })
</script>