html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

:root {
    color-scheme: light dark;
    --primary-color: #0ba4c2;
    /* both supported */
}

body {
    --text-color: #262626;
    --bkg-color: #fff;
    --tr-4: #e26277;
    --tr-1: #5fbc61;
    --tr-2: #ed9124;
    --tr-3: #007fc6;
    overflow-x: hidden;
}

    body.dark-theme {
        --text-color: #eee;
        --bkg-color: #262626;
        --tr-4: #bd3149;
        --tr-1: #37844c;
        --tr-2: #b3680f;
        --tr-3: #00669e;
    }

.tr-1 {
    background-color: var(--tr-1);
}

.tr-2 {
    background-color: var(--tr-2);
}

.tr-3 {
    background-color: var(--tr-3);
}

.tr-4 {
    background-color: var(--tr-4);
}

.footer-text p {
    color: #eee !important;
}

.form-floating .form-control:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

    .form-floating .form-control:focus + .floatingLabel {
        color: var(--primary-color) !important;
    }

html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
label,
.modal-content,
.iti__country-list,
li,
.bgdiv,
table,
.theme-background{
  background: var(--bkg-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
strong,
p,
i,
.modal-content,
.iti__country-list,
li,
.bgdiv,
table,
.theme-color{
  color: var(--text-color) !important;
  fill: var(--text-color) !important;
}

::placeholder {
  color: rgb(194, 186, 186) !important;
}

label {
  background: transparent !important;
}



.floating-label::after{
  background: transparent !important;
}

input:focus { 
  outline: none !important;
  border-color: #40c7e9 !important;
  box-shadow: none !important;
  color: #40c7e9 ;
}

.form-control:focus + .floating-label,.form-group:focus + .floating-label{
  color: #40c7e9 !important;
}


  textarea:focus { 
    outline: none !important;
    border-color: #40c7e9 !important;
    box-shadow: none !important;
    color: #40c7e9 ; 
  }
  
  .form-style input:focus {
    color:#40c7e9 !important;
}

.floating-label:focus {
  color: #40c7e9!important;
}

.logo{
  display: block;
}

.navLogo{
  margin-bottom: 0;
  width: 40%;
}

.nav-link.active.layout {
  border:none !important;
  border-bottom: 4px solid rgb(105, 200, 212) !important;
  color: rgb(107, 228, 236) !important;
  background-color: transparent !important;;
}

.navBar{
  box-shadow: 2px 2px 20px rgb(179, 177, 177);
}

.tab {
  background-color: #fafafa;
}

.dark-theme .tab {
  background-color: #222 !important;
}

.patientBtn {
    color: #4367d3;
    background-color: #e8eaf1;
    border-color: #4367d3;
}

    .patientBtn:hover {
        background-color: transparent !important;
        color: #4367d3;
        border-color: #4367d3;
    }

.famBtn {
    background-color: rgb(230, 245, 248);
}

    .famBtn:hover {
        background-color: transparent !important;
        color: #40c7e9 !important;
    }

.busBtn {
    color: #d90f81;
    background-color: #F7E5EE;
    border-color: #d90f81;
}

    .busBtn:hover {
        color: #d90f81;
        background-color: transparent !important;
        border-color: #d90f81;
    }

.concBtn {
    background-color: rgb(211, 245, 211);
}

    .concBtn:hover {
        background-color: transparent !important;
        color: #298014;
    }

.backBtn:hover {
    color: white;
    background-color: #40c7e9 !important;
}

.form-style input {
    border: 1px solid #0dcaf0;
    border-radius: 0;
    ;
}

    .form-style input:focus {
        border-bottom: 1px solid #0dcaf0;
        box-shadow: none;
        outline: 0;
        background-color: #ebebeb;
    }

.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccc;
}

.btn-info {
    color: white;
}

@media (max-width: 768px) {
    .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("~/images/11116016_415.jpg") center center;
        opacity: .4;
        background-size: cover;
    }

    .rightcol {
        position: relative;
        z-index: 1;
    }
}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("/images/11116016_415.jpg") center center !important;
    opacity: .4;
    background-size: cover !important;
}

.rightcol {
    position: relative;
    z-index: 1;
}

.photo {
    position: absolute;
    right: 5%;
    height: 55px;
    display: flex;
    align-items: center;
}

.form-style {
    width: 80%;
}

a {
    text-decoration: none;
    color: #0dcaf0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: right;
}

    footer a {
        text-decoration: none;
        color: white;
        ;
    }









.backLink {
    display: none;
}

.logo {
    display: block;
}

.backImgContainer {
    height: 100vh;
    background-image: url(/images/11116016_415.jpg);
    background-size: 100% 100%;
}

.navLogo {
    margin-bottom: 0;
    width: 40%;
}


.backBtn:hover {
    color: white;
    background-color: #40c7e9 !important;
}

.regPatientBtn {
    background-color: rgb(7, 7, 112);
}


.darkBtn:hover {
    color: white !important;
}

textarea:focus {
    outline: none !important;
    border-color: #40c7e9 !important;
    box-shadow: none !important;
    color: #40c7e9;
}


@media (max-width: 767.98px) {
    .backImgContainer {
        position: relative;
        height: 100vh;
        width: 100vw;
        filter: blur(10px);
        z-index: -1;
    }

    .footerLogin {
        left: 10%;
    }

    .formDiv {
        position: fixed;
        top: 15vh;
        left: 0;
    }

    .backLink {
        display: flex;
        position: relative;
        left: 5%;
    }

    .logo {
        display: none;
    }

    .footerSubmit {
        font-size: .5rem;
    }
}

@media (max-width: 471px) {
    .darkBtn {
        position: absolute;
        top: 25%;
        right: 5%;
    }

    .footerSubmit {
        font-size: .5rem;
    }
}

#btn {
    width: 124px;
    display: flex;
    justify-content: center;
    background-color: #40c7e9;
}

.iti {
    width: 100%;
    height: 75%;
}

#info2 {
    position: absolute;
    left: 25%;
    top: 25%;
}

.tab {
    background-color: #fafafa !important;
}

.dark-theme .tab {
    background-color: #222 !important;
}
#responsiveTable {
    width: 100%;
    border-collapse: collapse;
}

    #responsiveTable th, #responsiveTable td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }


    
@media (max-width: 600px) {
    #responsiveTable, #responsiveTable thead, #responsiveTable tbody, #responsiveTable th, #responsiveTable td, #responsiveTable tr {
        display: block;
    }

        #responsiveTable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        #responsiveTable tr {
            border: 1px solid #ccc;
            padding: 8px;
            margin-bottom: 5px;
        }

        #responsiveTable td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            text-align: left;
        }

            #responsiveTable td:before {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                content: attr(data-label);
                text-align: left;
                font-weight: bold;
            }

    .mobile-hide {
        display: none;
    }

    .show-details td {
        display: block;
        text-align: left;
    }

        .show-details td:before {
            content: none;
        }
}

.shadow-lg {
    margin-top: 2vh;
    padding: 1vw 2vw 2vw 2vw;
}

.btn-outline-info:hover {
    color: white;
}

[data-bs-theme="light"] .nav-link {
    color: black;
}

[data-bs-theme="dark"] .nav-link {
    color: white;
}

#darkmode:hover svg {
    fill: white;
}

.arrow-down {
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    border-top-color: inherit;
}

.new-tab {
    background-color: #1f1f8c2b !important;
    color: #6161c4 !important;
    border: 1px solid #6161c4 !important;
    border-radius: 10px !important;
}

    .new-tab:hover {
        border: none !important;
        background-color: #1f1f8c !important;
        color: white !important;
    }

    .new-tab.active {
        border: none !important;
        background-color: #1f1f8c !important;
        color: white !important;
    }

.pending-tab {
    background-color: #0dcaf026 !important;
    color: #0dcaf0 !important;
    border: 1px solid #0dcaf0 !important;
    border-radius: 10px !important;
}

    .pending-tab:hover {
        border: none !important;
        background-color: #0dcaf0 !important;
        color: white !important;
    }

    .pending-tab.active {
        border: none !important;
        background-color: #0dcaf0 !important;
        color: white !important;
    }

.active-tab {
    background-color: #05a33914 !important;
    color: #05a339 !important;
    border: 1px solid #05a339 !important;
    border-radius: 10px !important;
}

    .active-tab:hover {
        border: none !important;
        background-color: #05a339 !important;
        color: white !important;
    }

    .active-tab.active {
        border: none !important;
        background-color: #05a339 !important;
        color: white !important;
    }

.conclude-tab {
    background-color: #cb176612 !important;
    color: #cb1766 !important;
    border: 1px solid #cb1766 !important;
    border-radius: 10px !important;
}

    .conclude-tab:hover {
        border: none !important;
        background-color: #cb1766 !important;
        color: white !important;
    }

    .conclude-tab.active {
        border: none !important;
        background-color: #cb1766 !important;
        color: white !important;
    }

.toclose-tab {
    background-color: #185ce314 !important;
    color: #185ce3 !important;
    border: 1px solid #185ce3 !important;
    border-radius: 10px !important;
}

    .toclose-tab:hover {
        border: none !important;
        background-color: #185ce3 !important;
        color: white !important;
    }

    .toclose-tab.active {
        border: none !important;
        background-color: #185ce3 !important;
        color: white !important;
    }

.unpaid-tab {
    background-color: #a557b61a !important;
    color: #a557b6 !important;
    border: 1px solid #a557b6 !important;
    border-radius: 10px !important;
}

    .unpaid-tab:hover {
        border: none !important;
        background-color: #a557b6 !important;
        color: white !important;
    }

    .unpaid-tab.active {
        border: none !important;
        background-color: #a557b6 !important;
        color: white !important;
    }

.normal-input:focus {
    border: 1px solid rgb(145,105,179) !important;
}

.dropdown-menu {
    --bs-dropdown-bg: transparent;
    --bs-dropdown-link-hover-bg: grey;
}
.table{
    --bs-table-color: none;
    --bs-table-bg: none;
}

.region-filter {
    display: none !important;
}


#shifts {
    margin-bottom: -40px !important;
}

#calendar {
    margin-top: -40px !important;
}

.fc-toolbar {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto !important;
}

.fc-toolbar-title {
    margin-bottom: 10px !important;
}

.fc-toolbar .fc-toolbar-chunk:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.fc-toolbar .fc-toolbar-chunk:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.fc-toolbar .fc-toolbar-chunk:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.fc-button-primary.fc-button-active {
    background-color: #0dcaf0 !important;
    box-shadow: none !important;
    background-image: none !important;
    color: white !important;
}

.fc-button-primary {
    margin: 0px 10px 0px 10px !important;
    padding: 5px 15px 5px 15px;
    align-items: center !important;
    border-color: #0dcaf0 !important;
    background-image: none !important;
    background-color: transparent !important;
    color: #0dcaf0 !important;
    border: 1px solid #0dcaf0 !important;
    border-radius: 10px !important;
    font-weight: normal !important;
}

.fc-daygrid-day-top {
    text-align: center !important;
    padding: 8px 0px 8px 0px !important;
    background-color: rgb(239, 174, 218) !important;
}

.fc-prev-button {
    margin-right: 5px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: #0dcaf0 !important;
    background-image: none !important;
}

.fc-next-button {
    margin-right: 5px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: #0dcaf0 !important;
    background-image: none !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.fc-icon {
    color: white !important;
}

.fc-license-message {
    display: none !important;
}

.fc-col-header-cell-cushion {
    text-transform: uppercase !important;
}

tr .fc-timeline-slot-frame {
    background-color: #c2bfbf !important;
    padding: 20px 0px 20px 0px !important;
    height: 100% !important;
}

@media screen and (max-width: 700px) {
    #shifts {
        margin-bottom: 0px !important;
    }

    #calendar {
        margin-top: 0px !important;
    }

    .fc-toolbar .fc-toolbar-chunk:nth-child(2) {
        grid-column: 1 !important;
        grid-row: 2 !important;
        margin-bottom: 5px !important;
    }

    .fc-toolbar .fc-toolbar-chunk:nth-child(3) {
        grid-column: 1 !important;
        grid-row: 3 !important;
    }

    .fc-scrollgrid-sync-inner {
        font-size: 0.8em !important;
    }

    .fc-timegrid-axis-frame {
        display: none !important
    }
}

th[role=presentation] {
    background-color: #c2bfbf !important;
}

th[role=columnheader] .fc-datagrid-cell-frame {
    height: 72px !important;
    justify-content: center !important;
}
.fc-daygrid-event {
    cursor: pointer;
}


.fc-header-toolbar .fc-button {
    padding: 0.25rem 0.5rem !important;
}

.input-group {
    width: 300px;
}

#calendar {
    margin-top: 2rem;
}

input[type="checkbox"] {
    accent-color: #01BCE9;
    color: white !important;
}
   